.technologies-section {
  background: #f6f9fc;
  padding: 100px 100px;
  text-align: center;
}

.technologies-section h2 {
  font-size: 52px;
  font-weight: 100;
  margin-bottom: 40px;
}

.technologies-section h2 span {
  font-weight: 1000;
}

/* Grid with no gaps */
.tech-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1000px;
  gap: 4px;
  margin: 0 auto;
}

.tech-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  
  background: #fff;
  border: 1px solid #eee;
}

.tech-card img {
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
}
.tech-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
